header{
    
    color: rgb(46, 107, 46);
}
hr{
    background-color: black;
}


body{
background-color: rgba(234, 111, 17, 0.79);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
    margin-top: auto;
    color: rgb(46, 107, 46);
}